* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: #484444;
}
header {
    width: 100%;
    line-height: 15vh;
    background-color: #BFD78F;
    display: flex;
    justify-content: center;
}

h1 {
    font-size: 1.8rem;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline;
}

img {
    display: inline;
    width: 9rem;
    height: 7rem;
}

section {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C4E4DB;
}

.gameArea {
    width: 50%;
    height: 400px;
    padding: 20px 0;
    background-color: #BFD78F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    color: #484444;
}

input {
    width: 40%;
    padding: 15px 0;
    text-align: center;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #C4E4DB;
    border: 1px solid black;
    color: black;
    margin: 2rem 0;
    font-size: 1.1rem;
    box-shadow: 1px 1px 1px 0px black;
}

button {
    font-size: 1rem;
    cursor: pointer;
    outline: none;
    background-color: #C4E4DB;
    border: 2px solid black;
    text-decoration: none;
    margin-top: 10px;
    color: black;
    padding: 1rem 2rem;
    border-radius: 15px;
    font-weight: bold;
}

.hiden {
    display: none;
}